.list {
  display: flex;
  justify-content: left;
  align-items: stretch;
  list-style: none;
}

.item:not(:first-child) {
  margin-left: 25px;
}

.button {
  position: relative;
  background-color: transparent;
  margin-right: 3px;
  border: 1px solid lightgray;
  font-size: 17px;
  padding: 6px 12px;
  border-radius: 5px;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
}

.button:hover {
  color: rgb(232, 232, 232);
  top: 3px;
  background-color: rgb(161, 154, 154);
  transform: translateY(1%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}